
</div>
<div class="col-7">
<div class="text-right upgrade-btn">
    <!-- <a href="https://wrappixel.com/templates/xtremeadmin/" class="btn btn-danger text-white" target="_blank">Upgrade to Pro</a> -->
</div>
</div>
</div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->

<div class="row">
<!-- Column -->
<div class="col-lg-4 col-xlg-3 col-md-5">
<div class="card">
    <div class="card-body">
        <center class="m-t-30"> <img src="/assets/images/users/5.jpg" class="rounded-circle" width="150" />
            <h4 class="card-title m-t-10">Courses Offered</h4>
            <h6 class="card-subtitle">Courses Admin has added you to</h6>
            <div class="row text-center justify-content-md-center">
                <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
            </div>
        </center>
    </div>
</div>
</div>
<!-- Column -->
<div class="col-lg-4 col-xlg-3 col-md-5">
<div class="card">
    <div class="card-body">
        <center class="m-t-30"> <img src="/assets/images/users/5.jpg" class="rounded-circle" width="150" />
            <h4 class="card-title m-t-10">Multimedia Available</h4>
            <h6 class="card-subtitle">Total Multimedia Available For You</h6>
            <div class="row text-center justify-content-md-center">
                <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
            </div>
        </center>
    </div>
</div>
</div>
<!-- Column -->
<div class="col-lg-4 col-xlg-3 col-md-5">
<div class="card">
    <div class="card-body">
        <center class="m-t-30"> <img src="/assets/images/users/5.jpg" class="rounded-circle" width="150" />
            <h4 class="card-title m-t-10">Messages</h4>
            <h6 class="card-subtitle">Total Messages And Comments For You</h6>
            <div class="row text-center justify-content-md-center">
                <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
            </div>
        </center>
    </div>
</div>
</div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center">
All Rights Reserved by Xtreme Admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/dist/js/app-style-switcher.js"></script>
<!--Wave Effects -->
<script src="/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/dist/js/custom.js"></script>
</body>

</html>
